a {
  color: var(--black);
  text-transform: lowercase;
}

p {
  margin: 25px 0;
}

h1, h2, h3, h4 {
  font-family: var(--heading-font);
}

h1 {
  font-size: 3.125rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.17rem;
}

h4 {
  font-size: 1rem;
}

.hidden {
  position: absolute;
  visibility: hidden;
  width: 0;
  height: 0;
  left: -9999px;
}

.app {
  position: relative;
  background: var(--primary);
  background: linear-gradient(-170deg, var(--primary) 0%, var(--white) 100%);
  color: var(--black);
  text-transform: lowercase;
  overflow: hidden;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
}

.app .wrapper {
  padding: 0 25px;
}

.app.initial .main,
.app.initial .header,
.app.initial .footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app.initial .header
 {
  margin: 20px 0 0;
}

.app.initial .header .h1 {
  color: var(--black);
  text-transform: lowercase;
}

.app.initial .hamburger {
  display: none;
}

.app.initial .inner-wrapper {
  display: grid;
}

.app.initial .footer {
  margin: 40px 0;
}

.app.auth {
  background: var(--black);
}

.app.auth .header {
  background-color: var(--black);
  color: var(--white);
}

.app.auth .header .h1 {
  font-size: 2.75rem;
  margin: 8px 0;
}

.app.auth .header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app.auth .header-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app.auth .inner-wrapper {
  background-color: var(--white);
  border-radius: 60px 0 0 0;
}

.app.auth .main {
  padding: 45px 0 0;
}

.app.auth .footer {
  text-align: center;
  margin: 60px 0 30px;
}

.link {
  transition: all var(--transition);
  background: none;
  border: none;
  font-size: 1.25rem;
  font-family: var(--body-font);
  color: var(--text);
  text-decoration: underline;
  text-transform: lowercase;
  cursor: pointer; 
}

.link:hover {
  color: var(--tertiary);
}

.btn {
  position: relative;
  transition: all var(--transition);
  padding: 10px 30px;
  font-size: 1.125rem;
  font-weight: bold;
  color: var(--black);
  text-transform: lowercase;
  border: none;
  border-radius: 20.5px;
  text-decoration: none;
  text-align: center;
  min-height: 40px;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  box-shadow: -1px 2px 2px 0 rgba(0, 0, 0, .2);
}

.btn.primary {
  background: var(--primary);
}

.btn.secondary {
  background: var(--secondary);
}

.btn.tertiary {
  background: var(--tertiary);
}

.btn.quaternary {
  background: var(--quaternary);
}

.btn.gradient {
  background: linear-gradient(218deg, var(--primary) 0%, var(--primary) 15%, var(--secondary) 100%);
}

.btn:hover {
  box-shadow: -1px 6px 6px 0 rgba(0, 0, 0, .2);
}

.btn.submit {
  color: var(--white);
  background: var(--black);
}

.btn[disabled] {
  background-color: var(--grey-1);
  color: var(--grey-2);
  cursor: not-allowed;
}

.btn-wrapper {
  width: 100%;
  display: flex;
}

.msg {
  margin: 20px 0;
  padding: 10px;
  border-radius: 5px;
}

.msg svg {
  margin-right: 10px;
}

.msg.error {
  background-color: var(--error-bg);
  color: var(--error-text);
}

.msg.success {
  background-color: var(--success-bg);
  color: var(--success-text);
}

.msg.disclaimer {
  background-color: var(--disclaimer-bg);
  color: var(--disclaimer-text);
}

@media only screen and (min-width: 1024px) {
  .app.auth {
    display: flex;
    flex-direction: column;
  }

  .app.auth .header-content {
    width: auto;
  }

  .app.auth .header .wrapper {
    flex-direction: row;
  }

  .app.auth .main .wrapper {
    padding: 0 45px;
  }

  .app.auth .inner-wrapper {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .app.auth .inner-wrapper { 
    overflow: auto;
  }

  .app.auth section {
    padding: 30px 0;
  }

  .app.auth .footer {
    text-align: center;
    flex: 0 0 50px;
  }
}
