@import './App.scss';
@import './pages/authorization.scss';
@import './pages/quiz.scss';
@import './pages/result.scss';
@import './pages/past-results.scss';
@import './components/loading.scss';
@import './components/dashboard-menu.scss';
@import './components/hamburger-button.scss';
@import './components/progress-bar.scss';
@import './components/maps.scss';
@import './components/misc.scss';

:root {
  --primary: #ffe8dc;
  --secondary: #cefff7;
  --tertiary: #bbddff;
  --quaternary: #fffcae;
  --grey-1: #d0d0d0;
  --grey-2: #818181;
  --white: #f9f9f9;
  --black: #091d31;

  --error-bg: #ffd5d5;
  --error-text: #AC3939;
  --success-bg: #caf6db;
  --success-text: #1A753D;
  --disclaimer-bg: var(--tertiary);
  --disclaimer-text: #2F6193;

  --heading-font: 'Questrial', sans-serif;
  --body-font: 'Questrial', sans-serif;

  --transition: .35s cubic-bezier(.3, .86, .36, .95);
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-size: 1.25rem;
  font-family: var(--body-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.7;
}