.auth-container {
  background: var(--white);
  padding: 15px 25px 30px;
  border-radius: 5px;
  box-shadow: 2px 2px 20px rgba(0,0,0,0.1);
}

.desc {
  margin-bottom: 25px;
}

.formfield {
  margin-bottom: 25px;
}

.formfield label {
  display: inline-block;
}

.formfield input {
  width: 100%;
  padding: 10px 15px;
  border-radius: 15px;;
  border: 1px solid rgba(0,0,0,0.2);
}  

.auth-container .btn-wrapper {
  justify-content: flex-end;
  margin: 32px 0 0;
}

@media only screen and (min-width: 768px) {
  .auth-container {
    width: 525px;
    padding: 22px 25px 40px;
  }

  .formfield  {
    margin-bottom: 40px;
  } 
  
  .auth-container .btn-wrapper {
    margin: 45px 0 0;
  }
}
  