:root {
  --primary: #114097;
  --secondary: #e3d6e7;
  --tertiary: #484848;

  --light-bg: #fcfcfc;
  --bg: #ebebeb;

  --error-bg: #faaeae;
  --error-text: #9a3838;
  --disclaimer-bg: #a3c1f9;
  --disclaimer-text: #114097;

  --dark-text: #232324;
  --light-text: #ffffff;

  --heading-font: Arial, Helvetica, sans-serif;
  --body-font: Arial, Helvetica, sans-serif;

  --transition: .35s cubic-bezier(.3, .86, .36, .95);
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-size: 1.25rem;
  font-family: var(--body-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
}

@media only screen and (min-width: 1024px) {
  body {
    font-size: 1rem;
  }
}