:root {
  --primary: #ffe8dc;
  --secondary: #cefff7;
  --tertiary: #bbddff;
  --quaternary: #fffcae;
  --grey-1: #d0d0d0;
  --grey-2: #818181;
  --white: #f9f9f9;
  --black: #091d31;

  --error-bg: #ffd5d5;
  --error-text: #b03b3b;

  --heading-font: 'Questrial', sans-serif;
  --body-font: 'Questrial', sans-serif;

  --transition: .35s cubic-bezier(.3, .86, .36, .95);
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-size: 1.25rem;
  font-family: var(--body-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.7;
}